var html =  "<div class=\"panel panel-info\" id=\"person_<%=@person.id%>\">\
              <div class=\"panel-heading\">\
                <div class=\"panel-title\">\
                  <%= @person.name %>\
                </div>\
                <a data-remote=\"true\" rel=\"nofollow\" data-method=\"delete\" href=\"/people/<%=@person.id%>\">Delete contact</a>\
                <a id=\"editPersonForm\" data-person-id=\"<%= @person.id %>\" href=\"/people/<%=@person.id%>/edit\">Edit</a>\
              </div>\
              <div class=\"panel-body\">\
                <div class=\"row\">\
                  <h4>No phone numbers added. <a id=\"newPhoneNumber\" data-person-id=\"<%= @person.id %>\"\
                  href=\"/people/<%= @person.id %>/phone_numbers/new\">Add one!</a></h4>\
                </div>\
              </div>\
            </div>"

$('.peopleList').append(html)
$('#newPersonFormPanel').slideUp()


