<div class="peopleList">
  <% @people.each do |person| %>
    <div class="panel panel-primary" id="person_<%= person.id %>">
      <div class="panel-heading">
        <div class="panel-title">
          <%= person.name %>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <% if person.phone_numbers.any? %>
            <%= person.phone_numbers.each do |number| %>
              <%= number.humanized_number %>
            <% end %>
          <% else %>
            <h4>No phone numbers added. Add one!</h4>
          <% end %>
          <%= link_to("Delete", person_path(person) , method: :delete, remote: true) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="newPerson">
  <%= link_to("Add new contact", new_person_path ,id: "newPersonForm") %>
</div>
