<div class="peopleList">
  <% @people.each do |person| %>
    <div class="panel panel-info" id="person_<%= person.id %>">
      <div class="panel-heading">
        <div class="panel-title">
          <%= person.name %>
        </div>
        <%= link_to("Delete contact", person_path(person) , method: :delete, remote: true) %>
        <%= link_to("Edit", edit_person_path(person) , id: 'editPersonForm', data:{person_id: person.id}) %>
      </div>
      <div class="panel-body">
        <div class="row">
          <% if person.phone_numbers.any? %>
            <% person.phone_numbers.each do |number| %>
              <li><%= number.humanized_number %></li> 
            <% end %>
          <% else %>
            <h4>No phone numbers added. <%= link_to("Add one!", new_person_phone_number_path(person) , id: "newPhoneNumber", data:{person_id: person.id}) %></h4>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="newPerson">
  <%= link_to("Add new contact", new_person_path ,id: "newPersonForm") %>
</div>


<script>

</script>