<div class="col-xs-12" id='newPersonForm'>
  <%= simple_form_for([@person,@phone_number], remote: true) do |f| %>
    <% if @phone_number.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@phone_number.errors.count, "error") %> prohibited this phone_number from being saved:</h2>
        <ul>
        <% @phone_number.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6 " >
          <%= f.input :number, input_html: { class: 'form-control'}, placeholder: 'Phone number', label: false, required: true %>
        </div>
        <div class="actions col-xs-3">
          <%= f.button :submit, "Submit", class: "col-xs-10 col-xs-offset-1 btn-info "%>
        </div>
      </div>
    </div>
    

  <% end %>
</div>
